.center
{
	text-align: center;
}

.affix
{
	box-shadow: 10px 10px 5px #888888;
	border-style: solid;
	border-width: 1px;
}

.nav-entry
{
	border-bottom: 1px dotted;
}

.post
{
	background-color: #eeeeee;
	padding: 10px;
	margin-bottom: 20px;
}

.post a
{
	color: #000000;
}

.post a:hover
{
	color: #000000;
}
