body {
	background-color: #4099FF;
	}

.para-box
{
	background-color: #eeeeee;
	padding: 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.center
{
	text-align: center;
}

a
{
	color: #000000;
}

a:hover
{
	color: #000000;
}

.white
{
	background-color:#ffffff;
}
