{% extends 'blog/blog_foundation.html' %}
{% block title_block %}nicholas.io, About{% endblock %}
{% block includes %}
	<link rel="stylesheet" href="../../static/blog-css.css" type="text/css"></link>	
{% endblock %}
{% include "blog/sidenav.html" %}
{% block more_content %}
	<div class="span8 offset2 post">
		<h1>About Me?</h1>
		<p>
			Let me preface this introduction by welcoming you to my blog. I hope this to not only be helpful for myself (by the means of web exposure), but also to you, my reader. I can only wish that the things that I learned and will post on my blog will be as helpful for you as many of these same types of blogs have been for me.
		</p>
		<p>
			My professional experience programming really only began in the summer of 2012. I was an intern for software development at an architectural firm called Gensler. While there, I focused on building iOS applications to fill the needs for employees firmwide (the department I was in was aptly called Firmwide Applications). In that span of time, I felt I really grew as a programmer. I not only learned to deal with learnin new technologies and techniques quickly and efficiently, but I learned the value of clean code. Probably even more importantl though was the experience I gained working in a team. Although I was the sole iOS developer, I learned to work with designers and other older, more experienced programmers. I was humbled before them and eliminated any pride that withheld me from asking important questions. Coming out of that summer mentally worn, I will still think fondly of those times, my first step into the world of professional coding.	
		</p>
		<p>
			To build this blog and venture into some even more ambitious projects (shh! I'm not telling yet!), I reviewed Python and started learning the Django framework. I took a quick detour through Ruby on Rails books, which I enjoyed, but something about Django (maybe I just like Python better than Ruby!) really clicked with me. You can be sure of one thing: when I gain significant progress on one of these projects or discover a cool tip, it'll be on here!  
		</p>
		<p>
			<em>I'm currently studying computer science at the University of California at San Diego. If you would like to contact me, send an email to: <strong>nicholas.boston.mckinney [at] gmail.</strong></em>	
		</p>
	</div>
{% endblock %}


