<!DOCTYPE html>
<html>
	<head>
		<title> 
			{% block title_block %}
			{% endblock %}
		</title>
	</head>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" type="text/css">
	<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.min.js" type="text/javascript"></script>
	{% block includes %}
	{% endblock %}
	<body>
		{% block content %}
		{% endblock %}

		{% block footer %}
		{% endblock %}
	</body>
</html>
