{% extends "blog/base.html" %}
{% block title_block %}nicholas.io, A Blog{% endblock %}
{% block includes %}
<script type="text/javascript" src="../static/js/sidenav.js"></script>
<link rel="stylesheet" href="{{ home }}../static/blog-css.css" type="text/css"></link>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row-fluid">
			<span class="span12 center"><h1>Just Another Programmer's Blog</h1></span>
		</div>
		{% include "blog/sidenav.html" %}
		<div class="row-fluid">
			<ul class="nav nav-tabs span8 offset2">
				<li class="offset4"><a href="/blog">Home</a></li>
				<li><a href="/blog/about">About</a></li>
				<li><a href="/">Portfolio</a></li>
			</ul>
		</div>
		{% if post_by_id %}
			<div class="span8 offset2 post">
				<h2><a href="post/{{ post_by_id.id }}">{{ post_by_id.title }}</a></h2>
				<p>
					{{ post_by_id.body }}
				</p>
				<p class="muted">Posted on: {{ post_by_id.created|date:"D F d Y" }} at {{ post_by_id.created|date:"P" }}</p>
			</div>
		{% endif %}
		{% if posts %}
			{% for post in posts %}
				<div class="span8 offset2 post">
					<h2><a href="post/{{ post.id }}">{{ post.title }}</a></h2>
					<p>
						{{ post.body }}
					</p>
					<p class="muted">Posted on: {{ post.created|date:"D F d Y" }} at {{ post.created|date:"P" }}</p>
				</div>
			{% endfor %}
		{% endif %}
		{% if category_posts %}
			<div class="span8 offset2 post">
				{% if category %}<span class="center"><h2>Posts in Category: {{ category }}</h2></span>
				{% endif %}
				<ul>
				{% for category_post in category_posts %}
					<li class="pull-left">
					<a href="{{ home }}post/{{ category_post.id }}">
						<strong>{{ category_post.title }}</strong></a> <em>posted on {{ category_post.created|date:"D F d Y" }}</em>
					</li>	
					<br />
				{% endfor %}
				</ul>
			</div>
		{% endif %}
		{% if older.valid or newer.valid %}
			<div class="row-fluid span8 offset2">
				{% if older.valid %}
					<span class="pull-left"><em><a href="{{ home }}page/{{ older.path }}">Older</a></em></span>
				{% endif %}
				{% if older.valid and newer.valid %}
				&nbsp |
				{% endif %}
				{% if newer.valid %}
					<span class=""><em><a href="{{ home }}page/{{ newer.path }}">Newer</a></em></span>
				{% endif %}
			</div>
		{% endif %}
		{% block more_content %}
		{% endblock %}
	</div>
	{{ path }}
{% endblock %}
