{% extends "blog/base.html" %}

{% block title_block %}nicholas.io{% endblock %}
{% block includes %}
	 <script src="static/js/portfolio_js.js" type="text/javascript"></script>
	<link href="static/nicholas-io.css" rel="stylesheet">
{% endblock %}
{% block content %}
	<div class="container">
	<div class="row-fluid">
		<div class="hero-unit span12">
			<h1>Hi, I'm Nick.</h1>
			<p>
				I'm an iOS and Django developer. I'm also a Linux lover; in my spare time I read about computer
				security and kernel module development.
			</p>
			<p>
				<a class="btn btn-primary btn-large" href="mailto:nicholas.boston.mckinney@gmail.com">Contact Me</a>
				<a class="btn btn-primary btn-large" href="/blog">My Blog</a>
			</p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<img id="mystaffing" src="static/img/staffing001.png" alt="My Staffing, an iOS app">
		</div>
		
		<div class="span6 para-box">
			<span class="center"><h1>My Staffing</h1></span>
			<p>
				"My Staffing" was developed to fill the need for employees to be able to quickly
				view and address the hours they need to work on specific projects on a specific week
				(going up to four weeks in the future). This eliminated any confusion that an employee
				has through just a couple taps and swipes. With the addition of the ability for employees
				to quickly find the manager for a project and call or message them made this a valuable tool.
			</p>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span6 para-box">
			<span class="center"><h1>gMoney</h1></span>
			<p>
				"gMoney," a Gensler proprietary currency calculator, was developed for the purpose of providing
				an easy way for employees to convert between two national currencies. Although it might seem
				generic at first sight, its value came from the fact that Gensler made contractual deals with
				payment being based on the fiscal year's translation at the time of signing. With this
				characteristic, when employees had to convert currency for some purpose they would need to 
				use a web application from their desktop. gMoney expedites the process by allowing employees
				to do that translation anywhere from their mobile phone.
			</p>
		</div>

		<div class="span5 offset1">
			<img src="static/img/gmoney-test2.png" alt="gMoney, an iOS app">
		</div>

		</div>
	</div>
	</div>
{% endblock %}
