		<div class="row-fluid">
			<div class="affix">
				<ul class="nav nav-list">
					<li><h2>Categories</h2></li>
					{% for category in categories %}
						{% if not forloop.last %}
							<li class="nav-entry"><a href="{{ home }}category/{{ category.id }}">{{ category.title }}</a></li>
						{% else %}
							<li><a href="{{ home }}category/{{ category.id }}">{{ category.title }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
